.theme-main {
  --body-bg: #fff;
  --text-color: #292c32;

  --hint-color: #36cadb;
  --tutorials-color: #2fd93f;

  --link-color: #6634ea;
  --link-active-color: #9063ef;

  --table-bd-color: #dddddd;

  --code-bg: #dddddd;
}
