<div class="content-wrapper">
  <h1>
    Versions
    <div class="actions">
      <button uiButton (click)="createVersion()">Create</button>
    </div>
  </h1>

  <table>
    <tr *ngFor="let version of versions">
      <td>
        <a [routerLink]="[version.id]">
          {{ version.title || version.id }}
        </a>
      </td>
      <td>{{ version.url }}</td>
      <td class="actions">
        <button uiButton size="sm">Move up</button>
        <button uiButton size="sm">Move down</button>
        <button uiButton size="sm">Remove</button>
      </td>
    </tr>
  </table>
</div>
