<h1><a [routerLink]="'/'">Angular References</a></h1>

<p>References for Web developers describe tools and concepts of Angular framework.</p>

<h2>{{ content.title }}</h2>
<ul>
  <li *ngFor="let section of content.sections">
    <h3>
      <a
        [routerLink]="['/', section.url, 'intro']"
        [style.border-color]="section.color"
      >
        {{ section.title }}
      </a>
    </h3>
  </li>
</ul>

<div class="footer">
  Crafted by <a href="https://oleksanovyk.com" target="_blank">Oleksa Novyk</a>
  | <a href="https://github.com/navix/ngrefs" target="_blank">GitHub</a>
</div>
