@import "params";

:host {
  display: block;
  margin-top: 3rem;
  overflow: hidden;
}

h3 {
  margin: 0;
  a {
    display: none;
    text-decoration: none;
  }
  code {
    background: var(--cli-param-color);
    margin-right: 1rem;
    padding: 0 .5rem;
  }
  &:hover {
    a {
      display: inline;
    }
  }
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
}
