<h3 [id]="entry.headId | fragment">
  <code>{{ entry.name }}</code>
  <a routerLink="." [fragment]="entry.headId | fragment">#</a>
</h3>

<div class="body">
  <main-message *ngIf="entry.description"
                [ref]="entry.description">
  </main-message>

  <div class="table-wrapper">
    <table>
      <tr *ngIf="entry.paramType">
        <td>
          Type
        </td>
        <td><code>{{ entry.paramType }}</code></td>
      </tr>

      <tr *ngIf="entry.values">
        <td>
          Values
        </td>
        <td><code>{{ entry.values }}</code></td>
      </tr>

      <tr *ngIf="entry.default">
        <td>
          Default
        </td>
        <td><code>{{ entry.default }}</code></td>
      </tr>

      <tr *ngIf="entry.aliases">
        <td>
          Aliases
        </td>
        <td><code>{{ entry.aliases }}</code></td>
      </tr>
    </table>
  </div>
</div>
