@import "params";

:host {
  display: block;
  border-radius: 4px;
  box-shadow: $mediumShadow;
  margin-top: $grid * 4;
  overflow: hidden;
  &:first-of-type {
    margin-top: 0;
  }
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  padding: $grid * 2;
  background: $codeColor;
  a {
    font-size: 1.1rem;
    text-decoration: none;
  }
  code {
    background: transparent;
  }
}

.body {
  padding: $grid $grid * 2 $grid * 3;
}

.table-wrapper {
  max-width: 100%;
  overflow: auto;
}
