<h3 [id]="entry.name">
  <code>{{ entry.name }}</code>
  <a routerLink="." [fragment]="entry.name">#</a>
</h3>

<div class="body">
  <main-message *ngIf="entry.description"
                [ref]="entry.description">
  </main-message>

  <div class="table-wrapper">
    <table>
      <tr *ngIf="entry.paramType">
        <td>
          {{ 'CommandParam_Type' | ui }}
        </td>
        <td><code>{{ entry.paramType }}</code></td>
      </tr>

      <tr *ngIf="entry.values">
        <td>
          {{ 'CommandParam_Values' | ui }}
        </td>
        <td><code>{{ entry.values }}</code></td>
      </tr>

      <tr *ngIf="entry.default">
        <td>
          {{ 'CommandParam_Default' | ui }}
        </td>
        <td><code>{{ entry.default }}</code></td>
      </tr>

      <tr *ngIf="entry.aliases">
        <td>
          {{ 'CommandParam_Aliases' | ui }}
        </td>
        <td><code>{{ entry.aliases }}</code></td>
      </tr>
    </table>
  </div>
</div>
