<app-simple-page [nav]="[]">
  <h1><a [routerLink]="'/'">About 🍀 Project</a></h1>

  <p>
    Hey!
  </p>

  <p>
    Goal of this project is to improve Angular developers daily experience
    and give them a new look to the all concepts of the framework.
  </p>

  <p>
    Almost all information you find here is also present in the
    <a href="https://angular.io/docs" target="_blank">official documentation</a>.
    But, it is organized in other (I hope a better) way.
  </p>

  <div aside>
    Sections:
    <a routerLink="/cli">Angular CLI</a>
    <a routerLink="/templates">Templates</a>
  </div>
</app-simple-page>
