<div class="head">
  <input name="search"
         placeholder="Search&hellip;"
         autocomplete="off"
         ngModel
         (ngModelChange)="queryChanges.next($event)">
</div>

<div class="results">
  <a *ngFor="let res of searchResults"
     [routerLink]="['/', res.sectionUrl, res.pageUrl]"
     [fragment]="res.fragment"
     class="result">
    {{ res.sectionTitle }}&nbsp;&rarr;
    {{ res.pageTitle }}<span *ngIf="res.entryTitle">, {{ res.entryTitle }}</span>
  </a>
  <div *ngIf="query && searchResults.length === 0"
       class="empty-search">
    Nothing found.
  </div>
</div>
