<div class="langs">
  <app-ui-message id="Lang" affix=":"></app-ui-message>
  <a *ngFor="let versionLang of version.langs"
     [routerLink]="['/', versionLang, version.url]"
     routerLinkActive="-active">{{ versionLang }}</a>
</div>

<div class="show-hints">
  <label>
    <input type="checkbox"
           uiCheckbox
           [(ngModel)]="sectionComponent.showHints">
    <app-ui-message id="Footer_ShowHints"></app-ui-message>
  </label>
</div>

<div class="copy">
  &copy; {{ year }} <a href="https://github.com/navix" target="_blank">Sasha Novyk</a>
  | <a href="https://github.com/navix/ngrefs" target="_blank">GitHub</a>
</div>

<div *ngIf="showLink"
     class="link-wrapper">
  <button (click)="showLink = false">X</button>
  <a class="link -sula"
     href="https://sula.ngx-kit.com?utm_source=ngrefs"
     target="_blank">
    <span class="brand">Sula</span>
    <span>Angular UI-Kit</span>
  </a>
</div>
