@import "params";

:host {
  padding: $grid * 2;
  text-align: center;
  font-size: 0.8rem;
  > div {
    margin-bottom: $grid;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.show-hints {
}

.langs {
  a {
    margin: 0 $grid / 2;
    color: $linkColorLight;
    &.-active {
      font-weight: 600;
      color: $linkColor;
    }
  }
}

.copy {
  border-top: 1px solid #aaaaaa;
  font-size: 0.65rem;
  font-weight: 600;
  padding-top: $grid;
}

.link-wrapper {
  position: relative;
  button {
    position: absolute;
    top: $grid;
    right: $grid;
    color: #ffffff;
    background: transparent;
    border: 0;
  }
  .link {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: $smallShadow;
  }
  .link.-sula {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: #ffffff;
    font-size: 1.05rem;
    height: 100px;
    text-decoration: none;
    .brand {
      font-size: 1.7rem;
      font-weight: 600;
    }
  }
}
