<div class="langs">
  {{ 'Lang' | ui }}:
  <a *ngFor="let versionLang of version.langs"
     [routerLink]="['/', versionLang, version.url]"
     routerLinkActive="-active">{{ versionLang }}</a>
</div>

<div class="copy">
  {{ year }} <a href="https://github.com/navix" target="_blank">Sasha Novyk</a>
  | <a href="https://github.com/navix/ngrefs" target="_blank">GitHub</a>
</div>

<div *ngIf="ad.showFooterLink"
     class="link-wrapper">
  <button (click)="ad.showFooterLink = false">X</button>
  <a class="link -sula"
     href="https://sula.ngx-kit.com?utm_source=ngrefs"
     target="_blank">
    <span class="brand">Sula</span>
    <span>Angular UI-Kit</span>
  </a>
</div>
