@import "params";

:host {
  padding: $grid * 2;
  text-align: center;
  font-size: 0.8rem;
  > div {
    margin-bottom: $grid;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.show-hints {
}

.copy {
  font-size: 0.65rem;
  font-weight: 600;
}

.link-wrapper {
  position: relative;
  button {
    position: absolute;
    top: 0;
    right: 0;
    color: #ffffff;
    background: transparent;
    border: 0;
    padding: $grid $grid * 2;
  }
  .link {
    overflow: hidden;
    img {
      border-radius: 4px;
      box-shadow: $smallShadow;
      display: block;
      width: 100%;
    }
  }
}
