<div class="langs">
  {{ 'Lang' | ui }}:
  <a *ngFor="let versionLang of version.langs"
     [routerLink]="['/', versionLang, version.url]"
     routerLinkActive="-active">{{ versionLang }}</a>
</div>

<div class="copy">
  {{ year }} <a href="https://github.com/navix" target="_blank">Oleksa Novyk</a>
  | <a href="https://github.com/navix/ngrefs" target="_blank">GitHub</a>
</div>

<div *ngIf="ad.showFooterLink"
     class="link-wrapper">
  <button (click)="ad.showFooterLink = false">X</button>
  <a class="link"
     href="https://ngx-kit.com?utm_source=ngrefs"
     target="_blank">
    <img src="../../../assets/ngx-kit-banner.png" alt="ngx-kit ui-components banner">
  </a>
</div>
