@import "params";

:host {
  display: block;
  margin-top: 3em;
  overflow: hidden;
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  a {
    display: none;
    font-size: 1.1rem;
    text-decoration: none;
  }
  code {
    background: var(--interfaceOptionColor);
    margin-right: 1em;
    padding: 0 .5rem;
  }
  &:hover {
    a {
      display: inline;
    }
  }
}

.additional {
  display: block;
  border-top: 1px solid $tableBdColor;
  margin-top: $grid * 3;
}
