@import "params";

:host {
  display: block;
  margin-top: $grid * 4;
  overflow: hidden;
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  padding: $grid * 2;
  background: $codeColor;
  background-image: radial-gradient(circle farthest-corner at 25% 19%, rgba(27, 31, 35, 0.05) 0%, #c6d6d8 100.2%);
  border-bottom: 2px solid #c6d6d8;
  a {
    display: none;
    font-size: 1.1rem;
    text-decoration: none;
  }
  code {
    background: transparent;
  }
  &:hover {
    a {
      display: inline;
    }
  }
}

.body {
  padding: $grid 0 $grid * 3;
}

.additional {
  display: block;
  border-top: 1px solid $tableBdColor;
  margin-top: $grid * 3;
}
