<h3 [id]="entry.name">
  <span class="name">{{ entry.name }}</span>
  <code>--{{ entry.name }}</code>
</h3>

<table>
  <tr *ngIf="entry.paramType">
    <td>
      <app-content-message [ref]="{id: 'Type'}"></app-content-message>
    </td>
    <td><code>{{ entry.paramType }}</code></td>
  </tr>

  <tr *ngIf="entry.values">
    <td>
      <app-content-message [ref]="{id: 'Values'}"></app-content-message>
    </td>
    <td><code>{{ entry.values }}</code></td>
  </tr>

  <tr *ngIf="entry.default">
    <td>
      <app-content-message [ref]="{id: 'Default'}"></app-content-message>
    </td>
    <td><code>{{ entry.default }}</code></td>
  </tr>

  <tr *ngIf="entry.aliases">
    <td>
      <app-content-message [ref]="{id: 'Aliases'}"></app-content-message>
    </td>
    <td><code>{{ entry.aliases }}</code></td>
  </tr>
</table>

<app-content-message *ngIf="entry.description"
                     [ref]="entry.description">
</app-content-message>
