@import "params";

:host {
  display: block;
  border-radius: 4px;
  box-shadow: $mediumShadow;
  margin-bottom: $grid * 4;
  overflow: hidden;
}

h3 {
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
  code {
    box-sizing: border-box;
    display: block;
    padding: $grid * 2;
    width: 100%;
  }
}

.body {
  padding: $grid $grid * 2 $grid * 3;
}
