<h4>
  Links
  <button uiButton
          size="sm"
          (click)="create()">
    Create link
  </button>
</h4>
<div *ngFor="let link of entry.links; let index = index"
     class="link">
  <form uiForm
        #ngForm="ngForm"
        class="layout-aligned">
    <ui-form-field label="Url">
      <input [(ngModel)]="link.url"
             name="url">
    </ui-form-field>

    <ui-form-field label="Label">
      <app-message [(ngModel)]="link.label"
                   name="text"
                   context="Link label">
      </app-message>
    </ui-form-field>
  </form>
  <div class="actions">
    <button uiButton size="sm" (click)="delete(index)">Delete</button>
    <button uiButton size="sm" (click)="moveUp(index)">Move Up</button>
    <button uiButton size="sm" (click)="moveDown(index)">Move Down</button>
  </div>
</div>
