<div class="side">
  <ul>
    <ng-container *ngTemplateOutlet="menuItems; context: {$implicit: content.index.content}"></ng-container>
  </ul>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<ng-template #menuItems let-items>
  <li *ngFor="let item of items">
    <a *ngIf="item.url"
       [routerLink]="['./', item.url]"
       routerLinkActive="-active">
      {{ item.menu }}
    </a>
    <span *ngIf="!item.url">{{ item.menu }}</span>
    <ul *ngIf="item.children">
      <ng-container *ngTemplateOutlet="menuItems; context: {$implicit: item.children}"></ng-container>
    </ul>
  </li>
</ng-template>
