@import "params";

:host {
  display: flex;
  flex-direction: row;
}

.side {
  box-sizing: border-box;
  flex-shrink: 0;
  min-height: calc(100vh - #{$header});
  padding: 32px 32px 32px 0;
  width: $side;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      padding: 0;
      margin: 0;
      > ul {
        padding-left: 16px;
      }
      &.-with-subs {
        margin: 12px 0;
      }
    }
    a, span {
      border-radius: 3px;
      display: block;
      font-size: .9rem;
      margin: 2px 0;
      padding: 2px 6px;
    }
    a {
      color: $linkColorLight;
      transition: all .3s;
      &:hover {
        background: #f3f3f3;
        color: $linkColor;
      }
      &.-active {

        font-weight: 600;
        background: #eeeeee;
        color: $linkColor;
      }
    }
    span {
      color: #777777;
    }
  }
  .footer {
    border-top: 1px solid #eeeeee;
    font-size: .8rem;
    margin-top: 16px;
    padding-top: 16px;
    text-align: center;
  }
}

.content {
  border-left: 1px solid #dcf2f3;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding: 0 0 64px 64px;
  overflow: hidden;
}

.article-body {
  flex-grow: 1;
  overflow-y: auto;
}

.toc-container {
  padding-top: 48px;
  flex-shrink: 0;
  width: 200px;
}

.toc {
  box-sizing: border-box;
  font-size: 0.9rem;
  padding: 16px;
  width: 200px;
  &.-sticky {
    position: fixed;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
  }
}
