@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700|Fira+Sans:400,600');
@import "params";

body {
  background: #ffffff;
  color: $textColor;
  font-family: 'Fira Sans', sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #314766;
}

a {
  color: #e84b56;
}

code, pre {
  font-family: 'Fira Mono', monospace;
  font-size: 0.85em;
}

pre {
  padding: 16px;
  background: #eeeeee;
  overflow: auto;
}

blockquote {
  margin: 0;
  border-left: 0;
  background: $tipColor;
  color: #ffffff;
  padding: 2px 16px;
  a {
    color: #ffffff;
  }
}

ul {
  p {
    margin: 0;
  }
}

.article-body {
  h1 {
    font-size: 2.4rem;
    margin: 0 0 32px 0;
  }
  h2 {
    font-size: 1.8rem;
    margin: 48px 0 12px 0;
    padding-bottom: 12px;
    border-bottom: 1px solid #eeeeee;
  }
  h3 {
    font-size: 1.55rem;
  }
  .-highlight {
    animation: 800ms linear highlight-effect;
  }
}

@keyframes highlight-effect {
  0% {
    background: #fff;
  }
  30% {
    background: yellow;
  }
  100% {
    background: #fff;
  }
}

.toc {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 0 0 8px;
    padding: 0;
  }
}
