<h1>{{ title }}</h1>

<p>You can create and serve an Angular application in a very few steps.</p>

<p>Install Angular CLI:</p>

<pre>
$ npm i @angular/cli -g
</pre>

<p>Create a new project:</p>

<pre>
$ ng new my-app
</pre>

<p>Serve the application:</p>

<pre>
$ cd my-app
$ ng serve
</pre>

Now open browser at <a href="http://localhost:4200">localhost:4200</a>.

<main-content-links-block>
  <ul>
    <li><a href="https://angular.io/start">Getting started with Angular</a></li>
  </ul>
</main-content-links-block>
