@import "ui";
@import "theme-main";
@import "theme-night";
@import "params";
@import "mq";


html {
  background: var(--bodyBg);
  color: var(--textColor);
  font-family: var(--monospace);
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--textColor);
}

a {
  color: var(--linkColor);
}

.page-content {
  font-size: var(--fzMain);
  .-highlight {
    animation: 800ms linear highlight-effect;
  }
  table {
    border-collapse: collapse;
    tr {
      td {
        border: 1px solid #f3f3f3;
        padding: $grid / 2 $grid;
        &:first-child {
          min-width: 75px;
        }
      }
    }
  }
}

@keyframes highlight-effect {
  0% {
    background: #ffffff;
  }
  30% {
    background: yellow;
  }
  100% {
    background: #ffffff;
  }
}
