@import "ui";
@import "theme-main";
@import "theme-night";
@import "theme-solar";
@import "params";
@import "mq";
@import "mixins/scroll-colors";

html {
  @include scroll-colors;
  margin: 0;
  padding: 0;
}

body {
  background: var(--body-bg);
  color: var(--textColor);
  font-family: var(--sansSerif);
  margin: 0;
  padding: 0;
  &.-mobile-scroll-block {
    @include mq($until: tablet) {
      overflow: hidden;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--textColor);
}

a {
  color: var(--linkColor);
  &.-active {
    background: var(--link-active-bg);
    color: var(--link-active-color);
  }
  &:hover {
    background: var(--link-hover-bg);
    color: var(--link-hover-color);
  }
}

.page-content {
  font-size: var(--fzMain);
  h1 {
    margin-top: 0;
  }
  h2 {
    margin: 2.5rem 0 1.5rem;
  }
  .-highlight {
    animation: 800ms linear highlight-effect;
  }
  table {
    border-collapse: collapse;
    tr {
      td {
        border: 1px solid #f3f3f3;
        padding: $grid / 2 $grid;
        &:first-child {
          min-width: 75px;
        }
      }
    }
  }
}

@keyframes highlight-effect {
  0% {
    background: #ffffff;
  }
  30% {
    background: yellow;
  }
  100% {
    background: #ffffff;
  }
}
