@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,700|IBM+Plex+Sans|Lora');
@import "params";
@import "mq";

html {
  display: flex;
  flex-direction: row;
  width: 100%;
}

body {
  background: #ffffff;
  color: $textColor;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #314766;
  font-family: 'Lora', serif;
  overflow-wrap: break-word;
}

a {
  color: $linkColor;
}

button, input, textarea, select {
  font-family: 'IBM Plex Sans', sans-serif;
}

code, pre {
  background-color: $codeColor;
  border-radius: 3px;
  font-family: 'Fira Mono', monospace;
  font-size: 0.85em;
}

code {
  margin: 0;
  padding: 0.2em 0.4em;
}

pre code {
  background: transparent;
  padding: 0;
}

pre {
  padding: 16px;
  overflow: auto;
}

blockquote {
  margin: 0;
  background: $hintColor;
  border-left: 0;
  border-radius: 3px;
  color: #ffffff;
  padding: 2px 16px;
  a {
    color: #ffffff;
  }
}

ul {
  p {
    margin: 0;
  }
}

.page-content {
  h1 {
    font-size: 2.4rem;
    margin: 48px 0 16px;

    .package {
      font-size: 1.4rem;
      color: #777777;
    }
  }
  h2 {
    font-size: 1.8rem;
    margin: 48px 0 12px 0;
    padding-bottom: 12px;
  }
  h3 {
    font-size: 1.6rem;
    margin: 32px 0 8px 0;
    padding-bottom: 8px;
    border-bottom: 1px solid #eeeeee;
  }
  .-highlight {
    animation: 800ms linear highlight-effect;
  }
  table {
    border-collapse: collapse;
    tr {
      td {
        border: 1px solid #f3f3f3;
        padding: $grid / 2 $grid;
        &:first-child {
          min-width: 75px;
        }
      }
    }
  }
}

@keyframes highlight-effect {
  0% {
    background: #ffffff;
  }
  30% {
    background: yellow;
  }
  100% {
    background: #ffffff;
  }
}

.toc {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0 0 0 8px;
    padding: 0;
  }
}

@include mq($from: tablet) {
  html {
    height: 100%;
  }
}
