$grid: 8px;
$width: 1100px;
$contentWidth: 800px;
$sideWidth: 240px;
$header: 75px;

$darkBg: #444444;
$white: #ffffff;
$textColor: #314766;
$codeColor: rgba(27, 31, 35, 0.05);
$tipColor: #36cadb;

$linkColor: #e84b56;
$linkColorLight: #f36666;

$smallShadow: 0 2px 6px 0 rgba(35, 39, 42, 0.15);
$mediumShadow: 0 9px 30px 0 rgba(35, 39, 42, .1);
