.theme-main {
  @import "code/github";

  --body-bg: #fff;

  --nav-footer-bg: #f0f0f0;
  --nav-head-bg: #292c32;
  --nav-head-color: #f8f8f8;
  --nav-menu-bg: #e2e2e2;
  --nav-separator-color: #d2d2d2;
  --nav-link-hover-bg: #ebebeb;
  --nav-link-active-bg: #e6e6e6;

  --scroll-bar-color: #a8a8a8;
  --scroll-bg: #f1f1f1;

  --demo-bg: #efefef;
  --demo-head-bg: #e9e9e9;

  --cli-param-color: #e9d1ff;
  --hintColor: #36cadb;
  --interfaceOptionColor: #94ceff;

  --linkColor: #27304e;
  --linkColorLight: #345678;
  --link-hover-bg: #bcf5db;
  --link-hover-color: #26c970;
  --link-active-bg: #effafd;
  --link-active-color: #36cadb;

  --tableBdColor: #dddddd;
  --textColor: #292c32;
  --tutorials-color: #bcf5db;

  --code-bg: #e3e7e7;
}
