.theme-main {
  @import "code/github";

  --body-bg: #fff;
  --text-color: #292c32;
  --main-border-color: #dedfe0;

  --header-bg: #fff;
  --header-color: #000;
  --header-links-color: #666;
  --header-height: 5rem;

  --nav-width: 20rem;
  --nav-link-color: #777;

  --toc-width: 12rem;

  --nav-footer-bg: #f0f0f0;
  --nav-head-bg: #292c32;
  --nav-head-color: #f8f8f8;
  --nav-menu-bg: #e2e2e2;
  --nav-separator-color: #d2d2d2;
  --nav-link-hover-bg: #ebebeb;
  --nav-link-active-bg: #e6e6e6;

  --scroll-bar-color: #e0dfdf;
  --scroll-bg: #f5f5f5;

  --demo-bg: #efefef;
  --demo-head-bg: #e9e9e9;

  --cli-param-color: #e9d1ff;
  --hintColor: #36cadb;
  --interfaceOptionColor: #94ceff;

  --link-color: #6634ea;
  --link-active-color: #9063ef;
  --linkColorLight: #345678;
  --tableBdColor: #dddddd;
  --textColor: #292c32;
  --tutorialsColor: #2fd93f;

  --code-bg: #dddddd;
}
