@mixin scroll-colors {
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bg);
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scroll-bg);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border: 1px solid var(--scroll-bg);
  }
}
