<form uiForm
      #ngForm="ngForm"
      class="layout-aligned">
  <ui-form-field label="Name">
    <input [(ngModel)]="entry.name"
           (ngModelChange)="entry.head = {text: $event}"
           (ngModelChange)="entry.headId = $event"
           uiText
           name="name"
           required>
    <span *kitFormError="'required'">Field is required</span>
  </ui-form-field>

  <ui-form-field label="Param type">
    <input [(ngModel)]="entry.paramType"
           uiText
           name="paramType">
  </ui-form-field>

  <ui-form-field label="Values">
    <input [(ngModel)]="entry.values"
           uiText
           name="values">
  </ui-form-field>

  <ui-form-field label="Default">
    <input [(ngModel)]="entry.default"
           uiText
           name="default">
  </ui-form-field>

  <ui-form-field label="Aliases">
    <input [(ngModel)]="entry.aliases"
           uiText
           name="aliases">
  </ui-form-field>

  <ui-form-field label="Description">
    <app-message [(ngModel)]="entry.description"
                 name="description"
                 context="Command param entry description">
    </app-message>
  </ui-form-field>
</form>
