@import "params";
@import "mq";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main-head-menu {
  display: block;
  background: $darkBg;
  color: $white;
}

main-section-menu {
  background: #f9f9f9;
  display: block;
  flex-grow: 1;
  overflow-y: auto;
  padding: $grid * 2;
}

main-footer-menu {
  background: #f0f0f0;
}
