@import "params";
@import "mq";
@import "mixins/scroll-colors";

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

main-head-menu {
  background: var(--nav-head-bg);
  color: var(--nav-head-color);
  display: block;
}

main-section-menu {
  background: var(--nav-menu-bg);
  display: block;
  flex-grow: 1;
  overflow-y: auto;
  padding: $grid * 2;
  @include scroll-colors;
}

main-footer-menu {
  background: var(--nav-footer-bg);
}
