@import "params";
@import "mq";

.menu {
  bottom: 0;
  display: flex;
  flex-direction: column;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: $sideWidth;
  main-head-menu {
    display: block;
    background: $darkBg;
    color: $white;
  }
  main-section-menu {
    background: #f9f9f9;
    display: block;
    flex-grow: 1;
    overflow-y: auto;
    padding: $grid * 2;
  }
  main-footer-menu {
    background: #f0f0f0;
  }
}

:host(.static) {
  .menu {
    display: none;
  }
}

@include mq($from: tablet) {
  :host(.static) {
    .menu {
      display: flex;
    }
  }
}
