@import "params";
@import "mq";

:host {
  --sideWidth: 20rem;
}

.menu-toggle {
  position: fixed;
  flex-shrink: 0;
  top: 0;
  left: 0;
  padding: $grid;
  background: transparent;
  border: none;
  @include mq($from: tablet) {
    display: none;
  }
}

.mobile-header {
  height: $grid * 2 + 32px;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
  display: flex;
  flex-direction: row;
  font-size: 0.95rem;
  @include mq($from: tablet) {
    display: none;
  }
  span {
    margin-right: $grid;
  }
}

.side {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(0);
  transition: transform .15s ease-in-out;
  @include mq($from: tablet) {
    transition: none;
    width: var(--sideWidth);
    right: auto;
  }
  &.-mobile-hidden {
    transform: translateX(-100%);
    @include mq($from: tablet) {
      transform: translateX(0);
    }
  }
}

.content {
  @include mq($from: tablet) {
    margin-left: var(--sideWidth);
  }
}
