@import "params";
@import "mq";

.content-wrapper {
  //box-sizing: border-box;
  //margin: 0 auto;
  //max-width: $contentWidth;
  //padding: 0 $grid * 4 $grid * 8;
}

.menu-toggle {
  position: fixed;
  flex-shrink: 0;
  top: 0;
  left: 0;
  padding: $grid;
  background: transparent;
  border: none;
}

.mobile-header {
  height: $grid * 2 + 32px;
  align-items: center;
  justify-content: center;
  background: #eeeeee;
  display: flex;
  flex-direction: row;
  font-size: 0.95rem;
  span {
    margin-right: $grid;
  }
}

@include mq($from: tablet) {
  .content {
    margin-left: $sideWidth;
  }
}
