<ng-container *ngIf="section">
  <button (click)="toggleNav()"
          *ngIf="!displayNav"
          class="menu-toggle"
          title="Show menu">
    <sx-icon name="menu" size="32px"></sx-icon>
  </button>
  <div class="mobile-header">
    <span>{{ version.title }} References</span>
    <span>/</span>
    {{ section.title }}
  </div>

  <main-section-nav (close)="toggleNav(false)"
                    (swipeleft)="toggleNav(false)"
                    [class.-mobile-hidden]="!displayNav"
                    [section]="section"
                    [version]="version"
                    class="side">
  </main-section-nav>

  <div (swiperight)="toggleNav(true)"
       class="content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
