<div class="header">
  <div class="wrapper">
    <h1><a [routerLink]="currentVersion ? [currentVersion.index.lang, currentVersion.index.ver] : '/'">
      Angular CLI {{ currentVersion?.index.ver }} Reference
    </a></h1>
    <div class="actions">
      <select [(ngModel)]="currentVersionId"
              (ngModelChange)="switchVersion($event)">
        <option *ngFor="let version of versions; let index = index"
                [value]="index">
          Angular CLI {{ version.index.ver }} ({{ version.index.lang }})
        </option>
      </select>
    </div>
  </div>
</div>

<div class="body">
  <router-outlet></router-outlet>
</div>
