@import "params";
@import "mq";

.demo {
  border-radius: 4px;
  box-shadow: $smallShadow;
  display: grid;
  flex-direction: row;
  font-size: 0.9rem;
  grid-template-areas: 'source-title' 'source' 'result-title' 'result';
  margin: $grid * 2 0 $grid * 4;
  overflow: hidden;
}

.title {
  background: #eeeeee;
  font-size: 0.8rem;
  padding: $grid $grid * 2;
  &.-source {
    grid-area: source-title;
  }
  &.-result {
    grid-area: result-title;
  }
}

.source {
  grid-area: source;
  overflow: hidden;
  padding: $grid $grid * 2;
  &::ng-deep {
    h1, h2, h3, h4, h5, h6 {
      margin: 1rem;
    }
  }
}

.result {
  grid-area: result;
  overflow: hidden;
  padding: $grid * 2;
}

@include mq($from: desktop) {
  .demo {
    grid-template-areas: 'source-title result-title' 'source result';
    grid-template-columns: 50% 50%;
  }
}
