@import "params";
@import "mq";

.demo {
  border-radius: 4px;
  box-shadow: $smallShadow;
  display: grid;
  grid: 'source-title' 'source' 'result-title' 'result';
  flex-direction: row;
  font-size: 0.9rem;
  margin: $grid * 2 0 $grid * 4;
  overflow: hidden;
}

.title {
  background: #eeeeee;
  font-size: 0.8rem;
  padding: $grid $grid * 2;
  &.-source {
    grid-area: source-title;
  }
  &.-result {
    grid-area: result-title;
  }
}

.source {
  grid-area: source;
  padding: $grid $grid * 2;
  min-width: 0;
}

.result {
  grid-area: result;
  padding: $grid * 2;
  min-width: 0;
}

@include mq($from: desktop) {
  .demo {
    grid: 'source-title result-title' 'source result';
    grid-template-columns: 1fr 1fr;
  }
}
