@import "params";

:host {
  display: flex;
  flex-direction: row;
}

.output {
  color: #666666;
  cursor: pointer;
  font-size: .85rem;
  flex-grow: 1;
}

.edit {
  flex-shrink: 0;
  padding-left: $grid * 2;
}

textarea {
  min-height: 200px;
}
