<div (click)="displayModal = true" class="output">
  <span [innerHtml]="state | nl2br"></span>
</div>
<div class="edit">
  <button (click)="displayModal = true"
          size="sm"
          uiButton>
    Edit
  </button>
</div>

<kit-modal (close)="displayModal = false">
  <ui-modal *kitOverlay="displayModal"
            header="Edit text"
            size="xl">
    <form #ngForm="ngForm"
          uiForm>
      <ui-form-field label="Text">
              <textarea (ngModelChange)="save($event)"
                        [(ngModel)]="state"
                        name="text"
                        required
                        uiText>
              </textarea>
        <span *kitFormError="'required'">Field is required</span>
      </ui-form-field>
    </form>
    <ui-modal-footer>
      <button (click)="displayModal = false" uiButton>Close</button>
    </ui-modal-footer>
  </ui-modal>
</kit-modal>
