<div class="content-wrapper">
  <h1>
    Sections
    <div class="actions">
      <button uiButton (click)="createSection()">Create section</button>
    </div>
  </h1>

  <table>
    <tr *ngFor="let section of sections; let index = index">
      <td>
        <a [routerLink]="[section.id]">
          {{ (section.title | message) || section.id }}
        </a>
      </td>
      <td>{{ section.url }}</td>
      <td class="actions">
        <button uiButton size="sm">Move up</button>
        <button uiButton size="sm">Move down</button>
        <button uiButton size="sm" (click)="remove(index)">Remove</button>
      </td>
    </tr>
  </table>
</div>
