<form uiForm
      #ngForm="ngForm"
      class="layout-aligned">
  <ui-form-field label="Name">
    <input [(ngModel)]="entry.name"
           (ngModelChange)="entry.head = {text: $event}"
           (ngModelChange)="entry.headId = $event"
           uiText
           name="name"
           required>
    <span *kitFormError="'required'">Field is required</span>
  </ui-form-field>

  <ui-form-field label="Interface">
    <input [(ngModel)]="entry.interface"
           uiText
           name="interface">
  </ui-form-field>

  <ui-form-field label="Description">
    <app-message [(ngModel)]="entry.description"
                 name="description"
                 context="Interface option entry description">
    </app-message>
  </ui-form-field>

  <ui-form-field label="Show additional info">
    <input [(ngModel)]="entry.showAdditional"
           uiCheckbox
           type="checkbox"
           name="showAdditional">
  </ui-form-field>

  <ui-form-field *ngIf="entry.showAdditional"
                 label="Additional info">
    <app-message [(ngModel)]="entry.additional"
                 name="additional"
                 context="Interface option entry additional info">
    </app-message>
  </ui-form-field>
</form>

<div>
  <button *ngIf="!entry.hintEntry" uiButton
          size="sm"
          (click)="initHint()">
    Init hint
  </button>&nbsp;
  <button *ngIf="!entry.tutorialsEntry"
          uiButton
          size="sm"
          (click)="initTutorials()">
    Init tutorials
  </button>
</div>

<app-entry *ngIf="entry.hintEntry"
           [entry]="entry.hintEntry"
           [showTypeSelector]="false"
           [showControls]="false">
</app-entry>

<app-entry *ngIf="entry.tutorialsEntry"
           [entry]="entry.tutorialsEntry"
           [showTypeSelector]="false"
           [showControls]="false">
</app-entry>
