@import "../../styles/params";

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.header {
  background: $darkBg;
  box-shadow: $mediumShadow;
  box-sizing: border-box;
  color: $white;
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  flex-shrink: 0;
  width: 100%;
  border-bottom: 1px solid #dcf2f3;
  .main {
    flex-grow: 1;
  }
  .top {
    align-items: baseline;
    display: flex;
    flex-direction: row;
  }
  .brand {
    align-items: baseline;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    font-size: 2rem;
    font-weight: 600;
    padding: $grid 0;
  }
  .selector {
    background: transparent;
    border: 0;
    border-bottom: 1px dashed $white;
    color: $white;
    font-size: 1em;
    font-weight: 600;
  }
  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: $grid 0;
  }
  .sections {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      border-bottom: 2px solid transparent;
      border-radius: 2px;
      color: $white;
      display: inline-block;
      margin-right: $grid;
      padding: $grid / 2 $grid * 2;
      text-decoration: none;
      transition-property: background, box-shadow;
      transition-duration: .25s;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 3px;
        box-shadow: $smallShadow;
      }
      &.-active {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        box-shadow: $smallShadow;
      }
    }
  }
  .controls {
    display: flex;
    flex-direction: row;
    .langs {
      margin-left: $grid * 2;
      a {
        color: #ffffff;
        text-decoration: underline;
        margin-left: $grid;
      }
    }
  }
}

.body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
