<button uiButton
        (click)="showModal()">
  Edit
</button>

<kit-modal (close)="displayModal = false">
  <ui-modal *kitOverlay="displayModal"
            header="Edit text"
            size="xl">
    <form uiForm
          #ngForm="ngForm">
      <ui-form-field label="Context">
        <input [(ngModel)]="message.context"
               uiText
               name="message"
               required>
        <span *kitFormError="'required'">Field is required</span>
      </ui-form-field>
    </form>
    <div class="locales">
      <div>
        <h4>Source</h4>
        <ng-container *ngTemplateOutlet="localeForm; context: {$implicit: pickLocale(message, source)}"></ng-container>
      </div>
      <div>
        <h4>Translation</h4>
        <ng-container *ngTemplateOutlet="localeForm; context: {$implicit: pickLocale(message, toLang)}"></ng-container>
      </div>
    </div>
    <ui-modal-footer>
      <button uiButton (click)="displayModal = false">Close</button>
    </ui-modal-footer>
  </ui-modal>
</kit-modal>

<ng-template #localeForm
             let-locale>
  <form uiForm
        #ngForm="ngForm">
    <div>
      Locale: <b>{{ locale.lang }}</b>
    </div>
    <div *ngIf="!locale.useSource && locale.lang !== source && suggestion">
      Suggestion:
      <b>{{ suggestion }}</b><br>
      <button uiButton
              size="sm"
              (click)="useSuggestion()">
        Use suggestion
      </button>
    </div>
    <ui-form-field *ngIf="!locale.useSource"
                   label="Text">
            <textarea [(ngModel)]="locale.text"
                      #toLocaleTextModel="ngModel"
                      uiText
                      name="text"
                      required>
            </textarea>
      <span *kitFormError="'required'">Field is required</span>
    </ui-form-field>
    <ui-form-field *ngIf="locale.lang !== source"
                   label="Use source"
                   class="layout-inline">
      <input uiCheckbox
             type="checkbox"
             [(ngModel)]="locale.useSource"
             name="useSource">
    </ui-form-field>
  </form>
</ng-template>
