<div class="brand">
  <select (ngModelChange)="moveTo($event)"
          [ngModel]="version.id"
          class="selector">
    <option *ngFor="let v of versions"
            [value]="v.id">
      {{ v.title }}
    </option>
  </select>
  <span class="title">References</span>
  <button (click)="close.emit()" class="close">
    <sx-icon name="close" size="32"></sx-icon>
  </button>
</div>

<div class="controls">
  <a routerLink="./search">
    <sx-icon name="search" size="24px"></sx-icon>
  </a>
  <button (click)="sectionComponent.showHints = !sectionComponent.showHints"
          [style.color]="sectionComponent.showHints ? '#ffffff' : '#777777'"
          title="Show hints & tutorials">
    <sx-icon name="hints" size="24px"></sx-icon>
  </button>
  <a href="mailto:oleksanovyk@gmail.com">
    <sx-icon name="mail" size="24px"></sx-icon>
  </a>
  <button (click)="theme.theme = theme.theme === 'night' ? 'main' : 'night'"
          [style.color]="theme.theme === 'night' ? '#ffffff' : '#777777'"
          title="Night theme">
    <sx-icon name="night" size="24px"></sx-icon>
  </button>
</div>

<ul class="sections">
  <li *ngFor="let section of version.sections">
    <a *ngIf="!section.disabled"
       [routerLink]="['../', section.url]"
       [style.--section-color]="section.color"
       routerLinkActive="-active">
      {{ section.title }}
    </a>
  </li>
</ul>

<kit-modal (close)="showSearch = false">
  <main-search *kitOverlay="showSearch"></main-search>
</kit-modal>
