<div class="brand">
  <button #toggle="toggle"
          class="selector"
          kitOverlayToggle>
    {{ version.title }}
  </button>
  <span>References</span>
</div>

<ui-dropdown *kitOverlay="toggle.state"
             [toggle]="toggle"
             position="bottom-left">
  <a *ngFor="let v of versions"
     uiDropdownItem
     [active]="v.id === version.id"
     [routerLink]="['/', lang, v.url]">
    {{ v.title }}
  </a>
</ui-dropdown>

<div class="controls">
  <button (click)="showSearch = true">
    <kit-icon name="search" size="24px"></kit-icon>
  </button>
  <button [title]="'Footer_ShowHints' | ui"
          [style.color]="sectionComponent.showHints ? '#fff' : '#777'"
          (click)="sectionComponent.showHints = !sectionComponent.showHints">
    <kit-icon name="hints" size="24px"></kit-icon>
  </button>
  <a href="mailto:oleksanovyk@gmail.com">
    <kit-icon name="mail" size="24px"></kit-icon>
  </a>
</div>

<ul class="sections">
  <li *ngFor="let section of version.sections">
    <a *ngIf="!section.disabled && section.langs[lang]"
       [routerLink]="['../', section.url]"
       routerLinkActive="-active"
       [cssVar]="{sectionColor: section.color}">
      {{ section.title | msg }}
    </a>
    <a *ngIf="!section.disabled && !section.langs[lang]"
       [routerLink]="['/', 'en', version.url, section.url]"
       [cssVar]="{sectionColor: section.color}">
      {{ section.title | msg }} (en)
    </a>
  </li>
</ul>

<kit-modal (close)="showSearch = false">
  <main-search *kitOverlay="showSearch"></main-search>
</kit-modal>
