<div class="content-wrapper">
  <h1>Page</h1>

  <div class="actions">
    <button (click)="sortCommands()"
            size="sm"
            uiButton>
      Sort commands/options A->Z
    </button>
  </div>

  <form #ngForm="ngForm"
        class="layout-aligned"
        uiForm>
    <ui-form-field label="Title">
      <app-message [(ngModel)]="page.title"
                   context="Page title"
                   name="title">
      </app-message>
    </ui-form-field>

    <ui-form-field label="Url">
      <input [(ngModel)]="page.url"
             name="url"
             required
             uiText>
      <span *kitFormError="'required'">Field is required</span>
    </ui-form-field>
  </form>

  <div>
    <div *ngFor="let entry of page.entries; let index = index">
      <app-entry (create)="createEntry(index)"
                 (delete)="deleteEntry(index)"
                 (moveDown)="moveDownEntry(index)"
                 (moveUp)="moveUpEntry(index)"
                 [entry]="entry">
      </app-entry>
    </div>
    <button (click)="createEntry()" uiButton>Create entry</button>
  </div>
</div>
