<div class="content-wrapper">
  <h1>Page</h1>

  <form #ngForm="ngForm"
        class="layout-aligned"
        uiForm>
    <ui-form-field label="Title">
      <app-message [(ngModel)]="page.title"
                   context="Page title"
                   name="title">
      </app-message>
    </ui-form-field>

    <ui-form-field label="Url">
      <input [(ngModel)]="page.url"
             name="url"
             required
             uiText>
      <span *kitFormError="'required'">Field is required</span>
    </ui-form-field>

    <div class="autogen">
      <h4>Generation</h4>
      <ui-form-field label="Generation type">
        <select [(ngModel)]="page.generationType"
                name="generationType"
                uiSelect>
          <option value="none">None</option>
          <option value="interface-options">Interface options</option>
          <option value="cli-builder">CLI builder</option>
        </select>
      </ui-form-field>
      <div *ngIf="page.generationType === 'interface-options'">
        <ui-form-field label="Generation file">
          <input [(ngModel)]="page.generationFile"
                 name="generationFile"
                 uiText>
        </ui-form-field>
        <ui-form-field label="Generation entity name">
          <input [(ngModel)]="page.generationName"
                 name="generationName"
                 uiText>
        </ui-form-field>
        <ui-form-field label="Generation entity start line (extracted during generation)">
          <input [(ngModel)]="page.generationStartLine"
                 name="generationStartLine"
                 uiText>
        </ui-form-field>
        <ui-form-field label="Generation entity end line (extracted during generation)">
          <input [(ngModel)]="page.generationEndLine"
                 name="generationEndLine"
                 uiText>
        </ui-form-field>
        <button uiButton size="sm" (click)="prepareInterfaceOptionGeneration()">Prepare generation</button>
        <div *ngIf="generationLog.length > 0">
          <h5>Changes</h5>
          <div *ngFor="let log of generationLog"
               class="generation-log">
            <strong>[{{ log.action }}]: {{ log.name }}</strong><br>
            <i *ngIf="log.action === 'remove'">Removing is always manual.<br></i>
            <span>Interface: {{ log.interface?.old }} &rarr; {{ log.interface?.new }}<br></span>
            <span>Desc: {{ log.description?.old }} &rarr; {{ log.description?.new }}<br></span>
          </div>
          <button uiButton size="sm" (click)="applyInterfaceOptionGeneration()">Apply</button>
        </div>
      </div>
      <div *ngIf="page.generationType === 'cli-builder'">
        <ui-form-field label="Builder Name">
          <input [(ngModel)]="page.generationCliBuilderName"
                 name="generationCliBuilderName"
                 uiText>
        </ui-form-field>
        <button uiButton size="sm" (click)="prepareCommandParamGeneration()">Prepare CLI generation</button>
        <div *ngIf="cliGenerationLog.length > 0">
          <h5>Changes</h5>
          <div *ngFor="let log of cliGenerationLog"
               class="generation-log">
            <strong>[{{ log.action }}]: {{ log.name }}</strong><br>
            <i *ngIf="log.action === 'remove'">Removing is always manual.<br></i>
            <span>Type: {{ log.current?.type }} &rarr; {{ log.new?.type }}<br></span>
            <span>Def: {{ log.current?.default }} &rarr; {{ log.new?.default }}<br></span>
            <span>Desc: {{ log.current?.description }} &rarr; {{ log.new?.description }}<br></span>
            <button uiButton size="sm" (click)="applyCommandParamLog(log)">Apply this one</button>
          </div>
          <button uiButton size="sm" (click)="applyCommandParamGeneration()">Apply</button>
        </div>
      </div>
    </div>
  </form>

  <div class="actions">
    <h4>Actions</h4>
    <button (click)="sortCommands()"
            size="sm"
            uiButton>
      Sort commands/options A->Z
    </button>
  </div>

  <div>
    <div *ngFor="let entry of page.entries; let index = index">
      <app-entry (create)="createEntry(index)"
                 (delete)="deleteEntry(index)"
                 (moveDown)="moveDownEntry(index)"
                 (moveUp)="moveUpEntry(index)"
                 [entry]="entry">
      </app-entry>
    </div>
    <button (click)="createEntry()" uiButton>Create entry</button>
  </div>
</div>
