<div class="content-wrapper">
  <h1>Page</h1>

  <form uiForm
        #ngForm="ngForm"
        class="layout-aligned">
    <ui-form-field label="Title">
      <app-message [(ngModel)]="page.title"
                   name="title"
                   context="Page title">
      </app-message>
    </ui-form-field>

    <ui-form-field label="Url">
      <input [(ngModel)]="page.url"
             uiText
             name="url"
             required>
      <span *kitFormError="'required'">Field is required</span>
    </ui-form-field>
  </form>

  <div>
    <div *ngFor="let entry of page.entries; let index = index">
      <app-entry [entry]="entry"
                 (delete)="deleteEntry(index)"
                 (moveUp)="moveUpEntry(index)"
                 (moveDown)="moveDownEntry(index)">
      </app-entry>
    </div>
    <button uiButton (click)="createEntry()">Create entry</button>
  </div>
</div>
