// @todo remove, use rems directly
:root {
  --m1: .5rem;
  --m2: 1rem;
  --m3: 1.5rem;
  --m4: 2rem;
  --m5: 2.5rem;
  --m6: 3rem;
  --m7: 3.5rem;
  --m8: 4.5rem;
  --m9: 5rem;
  --m10: 6rem;
  --m11: 6.5rem;
}
