$grid: 8px;
$width: 1100px;
$contentWidth: 800px;
$sideWidth: 240px;
$header: 75px;

$darkBg: #292c32;
$white: #ffffff;
$textColor: #314766;
$codeColor: rgba(27, 31, 35, 0.05);
$hintColor: #36cadb;
$tutorialsColor: #2fd93f;
$tableBdColor: #dddddd;

$linkColor: #27304e;
$linkColorLight: #345678;

$smallShadow: 0 2px 6px 0 rgba(35, 39, 42, 0.15);
$mediumShadow: 0 9px 30px 0 rgba(35, 39, 42, .1);

$sansSerif: "Roboto", "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
//$serif: 'Lora', serif;
$monospace: "Consolas", "Inconsolata", "Monaco", "Courier", monospace;
