:root {
  --baseRem: 16px;
  --f1: 4.5rem;
  --f1Lh: 4.5rem;
  --f2: 3rem;
  --f2Lh: 3.5rem;
  --f3: 2rem;
  --f3Lh: 2.5rem;
  --f4: 1.5rem;
  --f4Lh: 2rem;
  --f5: 1.312rem; // 21px
  --f5Lh: 2rem;
  --f6: 1.125rem; // 18px
  --f6Lh: 1.5rem;
  --f7: 1rem; // 16px
  --f7Lh: 1.5rem;
  --f8: 0.812rem; // 13px
  --f8Lh: 1rem;
  --f9: 0.687rem; // 11px
  --f9Lh: 1rem;
  --fBase: 16px;
}
