<form uiForm
      #ngForm="ngForm"
      class="layout-aligned">
  <ui-form-field label="Type">
    <select [(ngModel)]="entry.type"
            uiSelect
            name="type"
            required>
      <option value="text">Text</option>
      <option value="command-param">Command param</option>
    </select>
    <span *kitFormError="'required'">Field is required</span>
  </ui-form-field>
</form>

<app-entry-text *ngIf="entry.type === 'text'"
                [entry]="entry">
</app-entry-text>

<app-entry-command-param *ngIf="entry.type === 'command-param'"
                         [entry]="entry">
</app-entry-command-param>
