@import "params";

.entry {
  padding: $grid * 6 $grid * 3;
  border-top: 2px solid #e4e4e4;
  background-image: linear-gradient(#f2f2f2, #ffffff);
}

.actions {
  border-top: 1px solid #aaaaaa;
  margin-top: $grid * 2;
  padding-top: $grid * 2;
  text-align: center;
  button {
    margin-right: $grid;
  }
}
