<div [style.borderColor]="color" class="entry">
  <form #ngForm="ngForm"
        class="layout-aligned"
        uiForm>
    <ui-form-field *ngIf="showTypeSelector"
                   label="Type">
      <select [(ngModel)]="entry.type"
              name="type"
              required
              uiSelect>
        <option value="text">Text</option>
        <option value="toc">Table of content</option>
        <option value="hint">Hint</option>
        <option value="tutorials">Tutorials</option>
        <option value="command-param">Command param</option>
        <option value="interface-option">Interface option</option>
        <option value="demo">Demo</option>
      </select>
      <span *kitFormError="'required'">Field is required</span>
    </ui-form-field>
  </form>

  <app-text-entry *ngIf="entry.type === 'text'"
                  [entry]="entry">
  </app-text-entry>

  <app-command-param-entry *ngIf="entry.type === 'command-param'"
                           [entry]="entry">
  </app-command-param-entry>

  <app-hint-entry *ngIf="entry.type === 'hint'"
                  [entry]="entry">
  </app-hint-entry>

  <app-tutorials-entry *ngIf="entry.type === 'tutorials'"
                       [entry]="entry">
  </app-tutorials-entry>

  <editor-interface-option-entry *ngIf="entry.type === 'interface-option'"
                                 [entry]="entry">
  </editor-interface-option-entry>

  <editor-demo-entry *ngIf="entry.type === 'demo'"
                     [entry]="entry">
  </editor-demo-entry>

  <div *ngIf="showControls"
       class="actions">
    <button (click)="create.emit()"
            uiButton>
      Insert new entry
    </button>
    <button (click)="delete.emit()"
            uiButton>
      Delete
    </button>
    <button (click)="moveUp.emit()"
            uiButton>
      Move up
    </button>
    <button (click)="moveDown.emit()"
            uiButton>
      Move down
    </button>
  </div>
</div>
