@import "params";

.wrapper {
  padding: $grid * 4;
}

tr:hover {
  td {
    background: #eeeeee;
  }
}

td.-no-translation {
  background: yellow;
}

th {
  white-space: nowrap;
}

th, td {
  padding: $grid / 2 $grid;
}

select[uiSelect] {
  width: auto;
}

button {
  white-space: nowrap;
}
