<div class="wrapper">
  <h1>Messages</h1>
  <table>
    <thead>
    <tr>
      <th>Path</th>
      <th>Context</th>
      <th>Source ({{ source }})</th>
      <th>
        Translation to
        <select uiSelect
                [(ngModel)]="toLang">
          <option *ngFor="let lang of langs"
                  [value]="lang">
            {{ lang }}
          </option>
        </select>
      </th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let message of messages">
      <td>
        <button uiButton
                (click)="find(message.id)">
          Go to
        </button>
      </td>
      <td>{{ message.context }}</td>
      <td class="text">
        <span [innerHtml]="pickLocale(message, source)?.text | nl2br"></span>
      </td>
      <ng-container *ngIf="toLang">
        <td *ngIf="pickLocale(message, toLang); let locale; else noTranslation"
            [class.-no-translation]="!locale.text && !locale.useSource"
            class="text">
          <span [innerHtml]="locale.text | nl2br"></span>
          <span *ngIf="locale.useSource">&larr;</span>
        </td>
        <td>
          <editor-message-translation [messages]="messages"
                                      [message]="message"
                                      [toLang]="toLang">
          </editor-message-translation>
        </td>
      </ng-container>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #noTranslation>
  <td class="-no-translation"></td>
</ng-template>
